/*  your css code here. If applicable */
.selector{

	padding:50px;
	width:200px;
	height:200px;
	border:2px solid black;
	 position: absolute;
    top: 50%;
   left: 50%;
  transform: translate(-50%, -50%);
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	background-color:lightblue;
	color:indigo;

}
